@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
.LoginBg{
    background: url('./1.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: fixed;
}
h1, h4 {
    color: #000;
}
.LoginBg .logo{
    padding:15px;
    width: 220px;
    float: left;
}
.image-div{
    margin:90px 0;
}
.loginDiv{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ededed;
    height: 100vh;
    color: #000;
    padding: 25vh 30px;
    margin:0;
    font-size: 1rem !important;
}
